.game {
  position: relative;
  margin: 40px auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.snake-dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 2%;
  height: 2%;
  border: 1px solid #fff;
  background-color: green;
  z-index:2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  border: 1px solid #fff;
  background-color: orangered;
  z-index:1;
}